.color{
    @apply text-common-white
}

.title {
    font-size: 52px;
    margin-bottom: 20px;
}

.align {
    display: flex;
    flex-direction: column;
    
}

.overtext {
    margin-bottom: 20px;
    margin-top: 227px;
    font-size: 15px;
}

.bottomText {
    margin-bottom: 60px;
}

.searchComponent {
    margin-bottom: 195px;
    font-size: 15px;
}