.large{
  height: 54px;
  padding: 0 30px;
}
.medium{
  height: 46px;
  padding: 0 30px;
}
.small{
  height: 40px;
  padding: 0 24px;
}
.primary {
  @apply bg-grey-100 text-common-white;
  &:hover {
    background-color: yellow;
  }
}
.secondary {
  background-color: purple;
}
.outlined {
  border: 1px solid peru;
}