body {
    background-image: url(../../public/hero/hero.png);
    background-repeat: no-repeat;
    /* background-position: center center; */
    background-attachment: fixed;
    background-size: cover;
    height: calc(100vh - 87px); 
}

.color{
    @apply text-common-white
}

.title {
    font-size: 52px;
    margin-bottom: 20px;
}

.align {
    display: flex;
    flex-direction: column;
    display: grid;
    place-content: center;
}

.overtext {
    margin-bottom: 20px;
    margin-top: 50px;
    font-size: 15px;
}

.bottomText {
    margin-bottom: 60px;
}
